<div role="main" class="main">
  <div class="container">
    <section class="page-header py-3">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8 text-left">
          </div>
          <div class="col-md-4">
            <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">

            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="row mb-5">

      <div class="col-md-5 mb-5 mb-md-0">
        <div>
            <div class="container">
                <img class="img-fluid" [src]="root + '/uploads/images/' + item.avatar.uri">
                <div  *ngIf="item.sold" class="text-block">
                  <h4>Verkocht</h4>
                </div>
              </div>
        </div>
        <br>

        <ngb-carousel *ngIf="images">
          <ng-template *ngFor="let image of images" ngbSlide>
            <img [src]="root + '/uploads/images/' + image.uri" alt="Random first slide">
            <!-- <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
          </ng-template>
        </ngb-carousel>




      </div>
      <div class="col-md-7">
        <h2 class="line-height-1 font-weight-bold mb-2">{{item?.artikelnaam }}</h2>
        <h3 class="line-height-1 font-weight-bold mb-2">{{item?.category}}</h3>

        <div *ngIf="item">
          <span *ngIf="item.vraagPrijsTotaal !== 0 " class="price font-primary text-4">
            <strong class="text-color-dark">€ {{item?.vraagPrijsTotaal}} </strong>
          </span>

          <div *ngIf="!item.sold"> 

            <span *ngIf="item.vraagPrijsPerEenheid !== 0 " class="old-price font-primary text-1">
              <strong class="text-color-default">€ {{item?.vraagPrijsPerEenheid}} / stuk</strong>
            </span>
            <span *ngIf="item.vraagPrijsTotaal === 0 || item.vraagPrijsPerEenheid === 0  " class="price font-primary text-4">
              <strong class="text-color-dark">Prijs overeen te komen </strong>
            </span>
          </div>
        </div>

        <div *ngIf="item.sold">
          <span *ngIf="item.vraagPrijsTotaal === 0 || item.vraagPrijsPerEenheid === 0  " class="price font-primary text-4">
            <strong class="text-color-dark">Dit product werd verkocht. </strong>
          </span>
        </div>
        <p class="mt-4">

          {{item?.omschrijving}}

        </p>
        <hr class="my-4">

        <ul class="list list-unstyled">
          <h5>Algemeen</h5>
          <li>ID:
            <strong>{{item?.oogstkaartItemID}}</strong>
          </li>
          <li>Beschikbaarheid vanaf:
            <strong> {{item?.datumBeschikbaar | date}}
            </strong>
          </li>
          <div *ngIf="item?.specificaties !== undefined">
            <h5>Specificaties</h5>
            <li *ngFor="let spec of item?.specificaties">
              <strong> {{spec.specificatieSleutel}} :
              </strong> {{spec.specificatieValue}}
            </li>
          </div>


        </ul>
        <div *ngIf="!item.sold">
          <hr class="my-4">
          <form class="shop-cart d-flex align-items-center">
            <button (click)="goToItem()" type="submit" class="add-to-cart btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-h-2 btn-fs-2 ml-3">Ik ben geïntresseerd in dit product</button>
          </form>
        </div>
        <hr class="my-4">
        <div *ngIf="item?.files !== undefined && item?.files.length > 0">
          <h5>Nuttige bestanden</h5>
          <ul class="list list-unstyled" *ngFor="let file of item.files; let i = index">
            <li>
              <a [href]="'http://jansenbyods.com/uploads/files/' + file.uri" download> Bestand {{i}} </a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center">
          <span class="text-2">Deel dit product</span>
          <ul class="social-icons social-icons-dark social-icons-1 ml-3">
            <li class="social-icons-facebook">
              <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="social-icons-twitter">
              <a href="http://www.twitter.com/" target="_blank" title="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="social-icons-instagram">
              <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <section *ngIf=" relateditems !== undefined && relateditems.length > 0" class="section bg-light-2 mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="font-weight-bold text-4 mb-4">Gerelateerde producten</h2>
        </div>
      </div>
      <div class="row">

        <div *ngFor="let item of relateditems" class="col-sm-6 col-md-3 mb-4">
          <div class="product portfolio-item portfolio-item-style-2">
            <div class="image-frame image-frame-style-1 image-frame-effect-2 mb-3">
              <span class="image-frame-wrapper image-frame-wrapper-overlay-bottom image-frame-wrapper-overlay-light image-frame-wrapper-align-end">
                <a [routerLink]="['/oogstkaart', item.oogstkaartItemID]">
                  <img [src]="root + '/uploads/images/' + item.avatar?.uri" class="img-fluid" alt="">
                </a>
                <span class="image-frame-action">
                  <a [routerLink]="['/oogstkaart', item.oogstkaartItemID]" class="btn btn-primary btn-rounded font-weight-semibold btn-v-3 btn-fs-2">Bekijk product</a>
                </span>
              </span>
            </div>
            <div class="product-info d-flex flex-column flex-lg-row justify-content-between">
              <div class="product-info-title">
                <h3 class="text-color-default text-2 line-height-1 mb-1">
                  <a href="shop-product-detail-right-sidebar.html"> {{item.artikelnaam}} </a>
                </h3>
                <span *ngIf="item.vraagPrijsTotaal === 0 || item.vraagPrijsPerEenheid === 0  " class="price font-primary text-4">
                  <strong class="text-color-dark"> Prijs overeen te komen </strong>
                </span>
                <span *ngIf="item.vraagPrijsTotaal !== 0 || item.vraagPrijsPerEenheid !== 0  " class="price font-primary text-4">
                  <strong class="text-color-dark"> € {{item.vraagPrijsTotaal}} </strong>
                </span>
                <span class="old-price font-primary  text-1">
                  <strong class="text-color-default"> {{item.category}} </strong>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>

<div *ngIf="!item" class="loading">Loading&#8230;</div>