<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Aanvraag
      </h3>

    </div>
    <div>

    </div>
  </div>
</div>
<!-- END: Subheader -->



<div class="m-content">
  <div *ngIf="request" class="row">
    <div class="col-lg-6">
      <div class="m-portlet m-portlet--responsive-mobile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon">
                <i class="flaticon-avatar m--font-brand"></i>
              </span>
              <h3 class="m-portlet__head-text m--font-brand">
                Contactinformatie
              </h3>
            </div>
          </div>
         
        </div>
        <div class="m-portlet__body">
          <ul>

              <li> Naam: {{ request.name}} </li>
              <li> Bedrijf: {{ request.company.companyName}} </li>
              <li> E-mail: {{ request.company.email}} </li>
              <li> Telefoon: {{ request.company.phone}} </li>
              <li> Adres: {{ request.company.address.street}}  {{ request.company.address.number}} <br>
                {{ request.company.address.city}}  {{ request.company.address.zipcode}}  <br>
                <br>
                {{ request.company.address.country}}

              
              </li>

          </ul>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="m-portlet m-portlet--responsive-mobile">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon">
                <i class="flaticon-speech-bubble m--font-brand"></i>
              </span>
              <h3 class="m-portlet__head-text m--font-brand">
                Bericht
              </h3>
            </div>
          </div>
         
        </div>
        <div class="m-portlet__body">
          {{request.messages[0].messageString }}
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="item" class="row">
      <div class="col-8">
        <div class="m-portlet m-portlet--responsive-mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <span class="m-portlet__head-icon">
                    <i class="flaticon-search m--font-brand"></i>
                  </span>
                  <h3 class="m-portlet__head-text m--font-brand">
                    Product
                  </h3>
                </div>
              </div>
             
            </div>
            <div class="m-portlet__body">
              <ul>
    
                  <li> Artikelnaam: <strong>{{ item.artikelnaam}} </strong>  </li>
                  <li> Artikel - ID: {{ item.oogstkaartItemID}} </li>
                  <li> Categorie: {{ item.category}} </li>
                  <li> Serie: {{ item.jansenserie}} </li>
                  <li> Prijs per eenheid: {{ item.vraagPrijsPerEenheid}} </li>
                  <li> Prijs totaal: {{ item.vraagPrijsTotaal}} </li>
      
    
              </ul>
            </div>
          </div>
        </div>


    <div class="col-4">

        <div class="m-portlet m-portlet--responsive-mobile">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <span class="m-portlet__head-icon">
                    <i class="flaticon-search m--font-brand"></i>
                  </span>
                  <h3 class="m-portlet__head-text m--font-brand">
                    Productfoto
                  </h3>
                </div>
              </div>
             
            </div>
            <div class="m-portlet__body">
                <img [src]="root + '/uploads/images/' + item.avatar.uri" class="img-fluid" alt="">

            </div>
          </div>
        </div>
    </div>
</div>