<div role="main" class="main">


    <section class="section section-height-3 bg-light">
        <div class="container">
          <div class="row align-items-center mb-5 pb-3">
            <div class="col-md-8 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter">
              <span class="top-sub-title text-color-primary">Ciculaire producten</span>
              <h2 class="font-weight-bold text-5">Oogstkaart</h2>
              <p class="lead mb-0">Biedt en hergebruik Jansenproducten in uw projecten. Help mee het milieu.</p>
            </div>
            <div class="col-md-4 text-md-right mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter">
              <a href="#" class="btn btn-primary btn-rounded font-weight-semibold btn-v-4 btn-h-4">GET STARTED NOW</a>
            </div>
          </div>
          <div class="row align-items-baseline appear-animation" data-appear-animation="fadeInRightShorter">
            <div class="col-md-4">
              <div class="icon-box icon-box-style-3">
                <div class="icon-box-icon">
                  <img width="55" height="55" src="assets/vendor/linear-icons/tablet.svg" alt="" data-icon data-plugin-options="{'color': '#2388ED', 'animated': true}" />
                </div>
                <div class="icon-box-info">
                  <div class="icon-box-info-title">
                    <h3 class="font-weight-bold text-4 mb-3">Titel 1</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box icon-box-style-3">
                <div class="icon-box-icon">
                  <img width="55" height="55" src="assets/vendor/linear-icons/select.svg" alt="" data-icon data-plugin-options="{'color': '#2388ED', 'animated': true, 'delay': 600}" />
                </div>
                <div class="icon-box-info">
                  <div class="icon-box-info-title">
                    <h3 class="font-weight-bold text-4 mb-3">Titel 2</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box icon-box-style-3">
                <div class="icon-box-icon">
                  <img width="55" height="55" src="assets/vendor/linear-icons/tag.svg" alt="" data-icon data-plugin-options="{'color': '#2388ED', 'animated': true, 'delay': 1200}" />
                </div>
                <div class="icon-box-info">
                  <div class="icon-box-info-title">
                    <h3 class="font-weight-bold text-4 mb-3">Titel 3</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <section class="parallax section section-height-4 call-to-action overlay overlay-color-primary overlay-show overlay-op-8 call-to-action-text-light call-to-action-text-background" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="img/parallax/parallax-1.jpg">
    <span class="text-background font-primary font-weight-bold appear-animation" data-appear-animation="textBgFadeInUp" data-appear-animation-delay="800">IT'S EASY</span>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9">
          <div class="call-to-action-content text-center text-md-left appear-animation" data-appear-animation="fadeInLeftShorter">
            <h2 class="font-weight-semibold">Biedt vandaag nog producten aan.</h2>
            <p class="font-weight-light mb-0">Maak een ODS-account om onze verschillende dienstent te gebruiken.</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
              <div class=" col call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
                  <a href='http://admin.jansenbyods.com/login/register' target="_blank" class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 font-weight-bold btn-h-5 btn-v-4">
                    <span class="wrap">
                      <span>Registreer</span>
                    </span>
                  </a>
                </div>
          <div class=" col call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
            <a href='http://admin.jansenbyods.com' target="_blank" class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 font-weight-bold btn-h-5 btn-v-4">
              <span class="wrap">
                <span>Login</span>
              </span>
            </a>
         </div>
        </div>
      </div>
    </div>
  </section>


 </div>
