<div role="main" class="main">

  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <img class="heroimage img-fluid mx-auto d-block" src="assets/img/logo_big.png" alt="">
      <div class="row">
        <img class="mx-auto d-block animated fadeInUp" src="../../../assets/img/logo-front.png" alt="">
      </div>
    </div>
  </header>


  <section id="welkom" class=" section-height-3 bg-light">
    <div class="container">
      <div class="row align-items-center mb-5 pb-3">
        <div class="col-md-6 mb-6 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter">
          <span class="top-sub-title text-color-primary">Serviceportaal</span>
          <h2 class="font-weight-bold text-5">Welkom op het serviceportaal van Jansen by ODS</h2>
          <p class="lead mb-0">

            Wij stellen hier een paar service diensten beschikbaar voor iedereen die er gebruik van wenst te maken. Wij zullen deze diensten
            continue up to date houden om liefhebbers van stalen ramen, deuren en gevels het beste uit dit mooie product
            te laten halen. Want één ding is zeker, dit stoere elegante product gaat bewezen 100 jaar mee en biedt voordelen
            die niet altijd direct zichtbaar zijn.

          </p>
          <br>
          <p class="lead">
            Slanke raamprofielen laten de prestatie van glas het best tot zijn recht komen. Sublieme U-waarden zijn haalbaar met slanke
            stalen systemen.
          </p>
          <br>
          <p class="lead">
            Een sterk product kan tijdens uw gebruik dienst doen voor uw toepassing. Maar wat daarna? Misschien kunnen er nog meerdere
            gebruikers genieten van dit tijdloze topdesign. Bekijk samen met ons wat haalbaar is, of neem alvast een kijkje
            op onze <a class="strong" routerLink="/oogstkaart">Oogstkaart</a>.
          </p>

        </div>
        <div class="col-md-6 text-md-right mb-6 mb-md-0 appear-animation" data-appear-animation="fadeInRightShorter">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../assets/img/odsimages/facade1.jpg" alt="First slide">
                  </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade2.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade3.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade4.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade5.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade6.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade7.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade8.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade9.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade4.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../../assets/img/odsimages/facade4.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
          <div class="row align-items-baseline appear-animation" data-appear-animation="fadeInRightShorter">
            <div class="col-md-4">
              <div class="icon-box icon-box-style-3">
                <div class="icon-box-icon">
                  <img width="55" height="55" src="assets/vendor/linear-icons/tablet.svg" alt="" data-icon data-plugin-options="{'color': '#2388ED', 'animated': true}" />
                </div>
                <div class="icon-box-info">
                  <div class="icon-box-info-title">
                    <h3 class="font-weight-bold text-4 mb-3">Oogstkaart</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box icon-box-style-3">
                <div class="icon-box-icon">
                  <img width="55" height="55" src="assets/vendor/linear-icons/select.svg" alt="" data-icon data-plugin-options="{'color': '#2388ED', 'animated': true, 'delay': 600}" />
                </div>
                <div class="icon-box-info">
                  <div class="icon-box-info-title">
                    <h3 class="font-weight-bold text-4 mb-3">Titel 2</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="icon-box icon-box-style-3">
                <div class="icon-box-icon">
                  <img width="55" height="55" src="assets/vendor/linear-icons/tag.svg" alt="" data-icon data-plugin-options="{'color': '#2388ED', 'animated': true, 'delay': 1200}" />
                </div>
                <div class="icon-box-info">
                  <div class="icon-box-info-title">
                    <h3 class="font-weight-bold text-4 mb-3">Titel 3</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                </div>
              </div>
            </div>
          </div>
           -->
    </div>

  </section>

  <section class="parallax section section-height-4 call-to-action overlay overlay-color-primary overlay-show overlay-op-8 call-to-action-text-light call-to-action-text-background"
    data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="img/parallax/parallax-1.jpg">
    <span class="text-background font-primary font-weight-bold appear-animation" data-appear-animation="textBgFadeInUp" data-appear-animation-delay="800">IT'S
      EASY
    </span>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9">
          <div class="call-to-action-content text-center text-md-left appear-animation" data-appear-animation="fadeInLeftShorter">
            <h2 class="font-weight-semibold">Biedt vandaag nog uw producten aan.</h2>
            <p class="font-weight-light mb-0">Maak een ODS-account om onze verschillende dienstent te gebruiken.</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class=" col call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
            <a href='https://admin.jansenbyods.com/login/register' target="_blank" class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 font-weight-bold btn-h-5 btn-v-4">
              <span class="wrap">
                <span>Registreer</span>
              </span>
            </a>
          </div>
          <div class=" col call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
            <a href='https://admin.jansenbyods.com' target="_blank" class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 font-weight-bold btn-h-5 btn-v-4">
              <span class="wrap">
                <span>Login</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
