<footer id="footer" class="footer-hover-links-light mt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <a href="index.html" class="logo">
          <img alt="Logo Jansen by ODS" class="img-fluid mb-3" src="assets/img/logo-simple.png">
        </a>

        <div class="country_company">
          <h4>Kloeckner Metals België</h4>

          <ul class="list list-icon list-unstyled">
            <li class="mb-2">
              <i class="fas fa-angle-right mr-2 ml-1 "></i>
              <span class="text-color-light">Adres:</span> <div class="text-color-light"> Straatsburgdok Noordkaai 33, 2030 Antwerpen België </div></li>
            <li class="mb-2">
              <i class="fas fa-angle-right mr-2 ml-1"></i>
              <span class="text-color-light">Telefoon:</span>
              <a class="text-color-light" href="tel:+322868760">+32 3 286 87 60 </a>
            </li>
            <li class="mb-2">
              <i class="fas fa-angle-right mr-2 ml-1"></i>
              <span class="text-color-light">Email:</span>
              <a class="text-color-light" href="mailto:mail@example.com" class="link-underline-light">info@jansenbyods.com</a>
            </li>
          </ul>
        </div>
        <div class="country_company">
            <h4>Kloeckner Metals Nederland</h4>

            <ul class="list list-icon list-unstyled">
              <li class="mb-2">
                <i class="fas fa-angle-right mr-2 ml-1 "></i>
                <span class="text-color-light">Adres:</span> <div class="text-color-light"> </div></li>
              <li class="mb-2">
                <i class="fas fa-angle-right mr-2 ml-1"></i>
                <span class="text-color-light">Telefoon:</span>
                <a class="text-color-light" href="tel:+322868760"> </a>
              </li>
              <li class="mb-2">
                <i class="fas fa-angle-right mr-2 ml-1"></i>
                <span class="text-color-light">Email:</span>
                <a class="text-color-light" href="mailto:mail@example.com" class="link-underline-light"></a>
              </li>
            </ul>
          </div>

      </div>
      <div class="col-lg-3 mb-4 mb-lg-0">
        <h2 class="text-3 mb-3">Nuttige links</h2>
        <ul class="list list-icon list-unstyled">
          <li class="mb-2">
            <i class="fas fa-angle-right mr-2 ml-1"></i>
            <a class="text-color-light" routerLink="/oogstkaart">Oogstkaart</a>
          </li>

        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="social-icons social-icons-transparent social-icons-icon-light social-icons-lg">
            <li class="social-icons-linkedin">
              <a href="http://www.linkedin.com/" target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>

            <li class="social-icons-instagram">
              <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row text-center text-md-left align-items-center">

          <p class="text-md-right text-color-light pb-0 mb-0">Copyrights © 2018. Kloeckner Metals . Alle rechten voor behouden </p>
      </div>
    </div>
  </div>
</footer>
